<div class="hero-unit">
    <hgroup class="title">
        <h1>Welcome to .Net Core</h1>
        <h2>app currently running on @ViewBag.OS Operating System</h2>
        <h3>Features</h3>
        <ul>
            <li>Angular 1.5
                <ul>
                    <li>Angular ui-router for nested views routing</li>
                    <li>Angular Directive and Link functions and expression binding</li>
                    <li>Angular E2E</li>
                    <li>Angular Material</li>
                </ul>
            </li>
            <li>.Net Core MVC 6 which works seamlessly on Windows and Mac Tested</li>
            <li>Gulp Travis Continuous Integration
                <ul>
                    <li>Gulp and bundleMinifier for css , js , image and html minification</li>
                    <li>Travis Continuous Integration</li>
                </ul>
            </li>
            <li>Entity Framework Core</li>
            <li>Rabbit MQ Microservices</li>
        </ul>
    </hgroup>
    <p>
        <a ng-href="#/product">Show Products</a>
    </p>
</div>